<div ng-controller="playlistController">
	<div class = 'container'>

		 <a href = '#/leaderboard/{{genre._id}}'>Leaderboard</a>
		<div class = 'row col-xs-6 col-xs-offset-3'>
			<h4 class = 'text-center'><u>Add a new Playlist</u></h4>
			<form>
				<label for = "name">Name:</label>
				<input type = 'text' ng-model = 'newPlaylist.name' placeholder = 'name'>
				<label for = 'link'>Playlist (url):</label>
				<input type = 'text' ng-model = ' newPlaylist.link' placeholder = 'http://'>
				<label for = 'description'>Description:</label>
				<textarea class = 'form-control' row = '5' ng-model = 'newPlaylist.description'></textarea>
				<input class ='pull-right' type = 'submit' value = 'Create' ng-click='addPlaylist()'>
			</form>
		</div>
		<div class = 'col-xs-10'>
	        <table class = 'table table-striped'>
	          <tbody>
	            <tr ng-repeat = "playlist in genre.playlists | filter:filter_name">
					<td ng-bind = 'playlist.name'></td>
					<td ng-bind = 'playlist.link'></td>
					<td>{{playlist.like}} like(s) <button ng-click = 'addLike(playlist._id)' class="btn btn-default"><span class="glyphicon glyphicon-music"></span></button></td>
	            </tr>
	          </tbody>
	        </table>
      	</div>


	</div>
</div>