


<div class = 'background-splash'>

	<div class = 'container'>

				
	    <div class="jumbotron">
	      <h2>Welcome to Sick Lists</h2>
	      <h3>Share. Listen. Connect.</h3>
	      <p>..about creators (us + coding dojo maybe)..</p>
	      <p>you must sign in to add ure own playlist and to like and sent message</p>

	      <p><a class="btn btn-primary pull-right" href="#/home" role="button">Go!</a></p>
	    </div>


	    <div class='row'>
	      <div class="col-xs-4">
	        <h4>Share</h4>
	        <p>seach according to your style..blbalblalballba.</p>
	      </div>
	      <div class="col-xs-4">
	        <h4>Listen</h4>
	        <p>ljflajd;fdajsdfjasdfasdf.</p>
	      </div>
	      <div class="col-xs-4">
	        <h4>Connect</h4>
	        <p>contact others with ure taste...message...chat?.</p>
	      </div>
	    </div>

	</div>

</div>