<div class = 'background-main'>
	<div class = 'container'>	
	    <div class="jumbotron">
	      <h1>Welcome to Sick Lists</h1>
	      <h2>Share. Listen. Collect.</h2>
	      <p class = "front-fonts">Collection of the web's best playlists all in one spot</p>
	      <p></p>
	      <p><a class="btn btn-primary pull-right" href="#/home" role="button">Go!</a></p>
	    </div>
	    <div class='row bottom-3'>
	    	<div class ='row search-spacer'>
	    	</div>
	    	<div class="col-xs-3 small_box">
	   			<h4 class = "front-fonts">Share</h4>
		        <p class = "front-fonts">Add playlists you've created for the world to see. See how you compare overall in our leaderboards for each genre.</p>
	    </div>
	    <div class="col-xs-3 col-xs-offset-1 small_box"> 
	    	<h4 class = "front-fonts">Listen</h4>
	        <p class = "front-fonts">Find the best playlists across the web for each genre. See how playlists in Youtube, Spotify, 8tracks and other sites compare.</p>
	    </div>
	    <div class="col-xs-3 col-xs-offset-1 small_box">
	        <h4 class = "front-fonts">Collect</h4>
	        <p class = "front-fonts">Keep track of your favorite playlists by liking them so you can always access them later</p>
	      </div>
	    </div>
	</div>
</div>