<div ng-controller="userController">
  <style>
  .playlist{
    display: inline-block;
    solid: 1px solid silver;
    margin: 10px;
  }
  </style>
<div class = 'container'>


  <div class ='row search-spacer text-center'>
    <h3>Profile for Mike</h3>
  </div> 


  <div class = 'row'>
    <p>Total likes on playlists: {{user.the_user.likes_received}}</p>
    <p>Mike's rank among users: {{user.user_rank}}/{{user.total_users}}</p>
      </div>
  </div>

  
			
  <div class = 'row'>
      <h4 class = 'text-center'><u>Mike's playlist</u></h4>
       <div class = "playlist" ng-repeat="upload in user.the_user.uploads"><a ng-href="{{upload.link}}">{{upload.playlist_name}}</a><br> Genre: <a ng-href="#/add/{{upload._user}}">{{upload.genre_name}}</a><br> Total likes: {{upload.likes_count}}<br>
source: {{upload.source}}
  </div>
      <!-- <div class = 'col-xs-2 playlist-box' ng-repeat = "product in products | filter:filter_name | orderBy: 'date'">
        <img src="{{product.image}}" alt="{{product.name}}" width="150" height="150">
        <p class='text-center'>{{product.name}}</p>
        <p class="text-center">({{product.count}} left)</p>
      </div> -->
  </div>

  <div class = 'row'>
    <h4 class = 'text-center'><u>Liked playlist</u></h4>
    <div class = "playlist" ng-repeat="liked in user.the_user.likes track by $index"><a ng-href="{{liked.link}}">{{liked.playlist_name}}</a><br> 
      Genre: <a ng-href="#/add/{{liked._genre}}">{{liked.genre_name}}</a><br>
      Playlist Author: <a ng-href="#/profile/{{liked._user}}">{{liked.user_name}}</a><br>
       Total likes: {{liked.likes_count}}<br>
source: {{liked.source}}</div>
      </div>
<!--     <div class = 'col-xs-2 playlist-box' ng-repeat = "product in products | filter:filter_name | orderBy: 'date'">
      <img src="{{product.image}}" alt="{{product.name}}" width="150" height="150">
      <p class='text-center'>{{product.name}}</p>
      <p class="text-center">({{product.count}} left)</p>
    </div> -->
  </div>


 </div>
</div>