<div class = 'container'>


  <div class ='row search-spacer text-center'>
    <h3>Profile for Mike</h3>
  </div> 


  <div class = 'row'>
    <p>Total likes on playlists: 100</p>
    <p>Mike's rank among users: 1/21231</p>
      </div>
  </div>
			
  <div class = 'row'>
      <h4 class = 'text-center'><u>Mike's playlist</u></h4>
      <div class = 'col-xs-2 playlist-box'>
        <p class = 'text-center'><u>Yourlinktothewebsite.com</u></p>
        <p class = 'text-center'>genre</p>
        <p class = 'text-center'>info</p>
      </div>
      <div class = 'col-xs-2 playlist-box'>
        <p class = 'text-center'><u>Yourlinktothewebsite.com</u></p>
        <p class = 'text-center'>genre</p>
        <p class = 'text-center'>info</p>
      </div>
      <div class = 'col-xs-2 playlist-box'>
        <p class = 'text-center'><u>Yourlinktothewebsite.com</u></p>
        <p class = 'text-center'>genre</p>
        <p class = 'text-center'>info</p>
      </div>
      <!-- <div class = 'col-xs-2 playlist-box' ng-repeat = "product in products | filter:filter_name | orderBy: 'date'">
        <img src="{{product.image}}" alt="{{product.name}}" width="150" height="150">
        <p class='text-center'>{{product.name}}</p>
        <p class="text-center">({{product.count}} left)</p>
      </div> -->
  </div>

  <div class = 'row'>
    <h4 class = 'text-center'><u>Liked playlist</u></h4>
    <div class = 'col-xs-2 playlist-box'>
        <p class = 'text-center'><u>Likedplaylist.com</u></p>
        <p class = 'text-center'>genre</p>
        <p class = 'text-center'>info</p>
      </div>
      <div class = 'col-xs-2 playlist-box'>
        <p class = 'text-center'><u>Likedplaylist.com</u></p>
        <p class = 'text-center'>genre</p>
        <p class = 'text-center'>info</p>
      </div>
<!--     <div class = 'col-xs-2 playlist-box' ng-repeat = "product in products | filter:filter_name | orderBy: 'date'">
      <img src="{{product.image}}" alt="{{product.name}}" width="150" height="150">
      <p class='text-center'>{{product.name}}</p>
      <p class="text-center">({{product.count}} left)</p>
    </div> -->
  </div>


 </div>