<div ng-controller="userController">
<div class = 'container'>
  <div class ='row search-spacer text-center'>
    <h3>Profile for {{user.the_user.name}}</h3>
  </div> 
  <div class = 'row'>
    <p>Total likes on playlists: {{user.the_user.likes_received}}</p>
    <p>{{user.the_user.name}}'s rank among users: {{user.user_rank}}/{{user.total_users}}</p>
  </div>
  <div class = 'row'>
    <h4 class = 'text-center'><u>{{user.the_user.name}}'s playlist</u></h4>
    <table class = 'table'>
      <tbody>
        <tr ng-repeat = "upload in user.the_user.uploads">
          <td><p><a ng-href="{{upload.link}}" target="_blank">{{upload.playlist_name}}</a></p></td>
          <td><p>Genre: <a ng-href="#/add/{{upload._genre}}">{{upload.genre_name}}</a></p></td>
          <td><p>Total likes: {{upload.likes_count}}</p></td>
          <td><p>Description: {{upload.description}}</p></td>
          <td><p>source: {{upload.source}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class ='row min-spacer'></div>
  <div class = 'row'>
    <h4 class = 'text-center'><u>Liked playlist</u></h4>
    <table class = 'table'>
      <tbody>
        <tr ng-repeat = "liked in user.the_user.likes track by $index">
          <td><p><a ng-href="{{liked.link}}" target="_blank">{{liked.playlist_name}}</a> </p></td>
          <td><p>Genre: <a ng-href="#/add/{{liked._genre}}">{{liked.genre_name}}</a></p></td>
          <td><p>Playlist Author: <a ng-href="#/profile/{{liked._user}}">{{liked.user_name}}</a></p></td>
          <!-- <td><p> Total likes: {{liked.likes_count}}</p></td> -->
          <td><p> Description: {{liked.description}}</p></td>
          <td><p>source: {{liked.source}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
